/* Définition des polices personnalisées*/

@font-face {
    font-family: 'Raleway';
    src: url('/raleway/Raleway-Black.ttf');
}

/* Eléments principaux de la page*/

body
{
    font-family:Raleway ,Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

#bloc_page
{
   b 
    
}

h2
{
    font-size: 17px;
    font-weight: 700;
}

h3
{
    font-size: 15px;
    margin-right: 10px;
}

h4
{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

p 
{
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
}


/* Header */

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

.flex
{
    display: flex;
    margin-right: 0;
}


header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo
{
    flex: 1;
    margin-left: 10px;   
}


nav li
{
    padding-top: 20px;
    font-size: 12px;
}

nav a
{
    padding: 30px 30px 0;
}

.signUp
{
    color: #0065FC;
    font-weight: 700;
    padding: 20px 0 0;
    font-size: 12px;
    margin-right: 10px;
    
}

nav li a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 15px;
}
  

 /* Section recherche */ 

#titre_principal
{
    margin-left: 10px;
    margin-top: 0;
}

.gps-logo
{
    position: relative;
    height: 40px;
    background-color: #F2F2F2;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;
}

.fa-map-marker-alt 
{
    position: absolute;
    color: black;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-section 
{
    height: 40px;
    margin-top: 15px;
}

.search-bar 
{
    display: flex;
    justify-content: flex-start;
}

.rechercher 
{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
}

.rechercher_loupe {
    display: none;
}


#filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 15px;
}





#recherche_filtre
{
    margin-left: 10px;
}

 /* Filtres */


.filtres
{
    margin-top: 15px;
    display: flex;
    align-items: baseline;
    margin-left: 10px;
}

.filtres a 
{
    color: black;
    text-decoration: none;
}

.filtres-boutons 
{
    display: flex;
    flex-wrap: wrap;
}

.btn span 
{
    margin-left: 10px;
    margin: 10px
}

.btn:hover span 
{
    text-decoration: #0065FC;
}

.btn i 
{
    background-color: #DEEBFF;
    border-radius: inherit;
    width: 13px;
    text-align: center;
    border: 2px solid #DEEBFF;
    color: #0065FC;
    margin: -3px;
    padding: 7px;
}

.btn 
{
    padding: 0;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 27px;
    margin-bottom: 9px;
    margin-left: 9px;
    font-size: small;
}

.btn:hover 
{
    background-color: #0065FC;
    color: white;
    border: 2px solid #DEEBFF;
}

.fa-map-marker-alt
{
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #f2f2f2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    background-color: #f2f2f2;
    font-size: 12px;
}


/* section hébergement*/

.titres
{
    margin-left: 10px;
}

.info
{
    display: flex;
    align-items: center;
    margin-left: 10px;  
}

.icone
{
    height: 10px;
    width: 10px;
    min-height: 20px;
    min-width: 20px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px; 
    font-size: 12px;
}

.fa-info
{
    color: #0065FC;
}

#hebergement
{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
           
}

.agencement
{
    background-color: white;
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
    border:3px solid white;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px grey;
       
}

.carte_description
{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;    
}

.fa-star
{
    color: #0065FC;
    font-size: 9px;
    margin-bottom: 6px;
}

.star .non_rempli
{
    color: grey;
}

.étoile .non_rempli
{
    color: grey;
}

#article_aside
{
    display: flex;
    margin-bottom: 30px;
    
    
}

article
{
    margin-top: 10px;
    background-color: #f2f2f2;
    border: solid 3px #f2f2f2;
    border-radius: 8px;
    margin-left: 10px;
    padding-bottom: 30px;
}
 .text_carte
 {
     padding-left: 10px;
 }

.titre_aside
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

aside
{
    background-color:  #f2f2f2;
    border-radius: 8px;
    min-width: 270px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    
    
}

.agencement_aside
{
    background-color: white;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px grey; 
    
}

.img_aside
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 4px;
    margin-top: 4px;
}

.img_article
{
    width: 180px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.description
{
    display: flex;
    flex-direction: column;
}

.étoile
{
    margin-top: 35px;
}

a p
{
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
}


/* Activitées */

#titre_activités
{
    margin-left: 10px;
    background-color: white;
    border: white;
    
}

#activités
{
    display: flex;
    
    
   
}

.colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    margin-right: 30px;
}

.grande_carte
{   
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin-right: 30px;
    box-shadow: 3px 3px 5px #f2f2f2;
    padding-bottom: 10px; 
}

.petite_carte
{
    box-shadow: 3px 3px 5px #f2f2f2;
    padding-bottom: 10px; 
    border-radius: 8px; 
}

.grande_photo
{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.petite_photo
{
    width: 200px;
    height: 125px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;   
}
#activités h4
{
    padding-left: 10px;
}


/* Footer */

footer
{
    display:flex;
    justify-content:space-between;
    background-color: #f2f2f2;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 80px;
    margin-left: 0px;
}
footer li
{
    margin-bottom: 15px;
    font-size: 12px;
}

footer a:hover
{
    font-weight: 600;
    color: #0065FC;
}
footer ul
{
    list-style-type: none;
}


/* media queries */

/*@media screen and (max-width: 1350px)
{
    body
    {
        width: auto;
    } 
    #hebergement
    {
        width: 100%;
        justify-content: center;
    }
    article
    {
         width: auto;    
    }
    .agencement
    {
        width: auto; 
    } 
    .titre_aside
    {
        width: auto;
    }
    aside
    {
        
        width: auto;
    }
    #titre_activités
    {
        width: auto;
    }
    #activités
    {
        width: auto;
    }
}*/

@media screen and (max-width: 960px)
{   
    body
    {
        width: auto;
    }  
/*hébergement*/

    #hebergement
    {
        width: 100%;
        justify-content: center;
    }

    article
    {
         width: auto;    
    }

    .agencement
    {
        width: auto; 
    }

    #article_aside
    {
        display: flex;
        flex-direction: column-reverse;
    }


/* les plus populaires */

    .titre_aside
    {
        width: auto;
    }

    aside
    {
        margin-left: 0;
        width: auto;
    }

    .agencement_aside
    {
        width: 30%;
        display:inline-flex;  
    }

/* activités */

    #activités
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: auto;  
    }

    .colonne:nth-child(4)
    {
        flex-direction: row;
    }

    .petite_carte
    {
        margin-right: 20px;
    }
        
    .grande_carte
    {
        margin-right: 20px; 
    }
    .colonne
    {
       margin-right: 0;
    }


/*footer*/

footer
    {
        width: auto;
    }
}


 @media screen and (max-width: 797px)
 {
/*header*/

    header
    {
        margin: 0;
        flex-direction: column;
    }

    .signUp
    {
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav
    {
        order:3;
    }
    
    nav ul
    {
        width: 100%;
    }

    nav li
    {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a
    {
        padding: inherit;
    }

    nav li a:hover
    {
        border-top: none;
    }

    nav li:hover
    {
        border-bottom-color:#0065FC;
    }

    .rechercher {
        display: none;
    }

    .rechercher_loupe {
        display: block;
        width: 40px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 1rem 1rem 0;
    }

    .rechercher_loupe .fas {
        color: white;
    }


/*filtres*/

    .filtres
    {
        flex-direction: column;
    }


/* hébergement*/

    #hebergement
    {
        flex-direction: column;
        width: 100%;
    }
 
    article
    {
        padding-right: 10px;
        background-color: white;
        border: 0;
    }

    .img_article
    {
        width: 100%;
    }

/* les plus populaire */
    
    aside
    {
        width: auto;
        background-color:  #f2f2f2;
        border-radius: 0px;
    }

    .agencement_aside
    {
        display: flex;
        width: auto;
        margin-bottom: 10px;
    }

/* activités */

    #titre_activités
    {
        margin-right: auto;
    }
    #activités
    {
        flex-direction: column;
        width: 100%px;
        margin-left: 10px; 
          
    }
    .grande_carte
    {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .petite_carte
    {
        margin-right: 0;
        margin-bottom: 20px;    
    }

    .grande_photo
    {
        width: 100%;
        height: 125px;
    }

    .petite_photo
    {
        width: 100%;
    }

    .colonne:nth-child(4)
    {
        flex-direction: column;
        
    }


    
/*footer*/

    footer
    {
        flex-direction: column;
        width: auto;
    }    
 }