/* Définition des polices personnalisées*/

@font-face {
    font-family: 'Raleway';
    src: url('/raleway/Raleway-Black.ttf');
}

/* Eléments principaux de la page*/

body
{
    font-family:Raleway ,Arial, Helvetica, sans-serif;
    width: 900px;
    margin: auto;
}

h2
{
    font-size: 17px;
}

h3
{
    font-size: 15px;
    margin-right: 10px;
}

h4
{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

p 
{
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 0;
}


/* Header */

#logo
{
    width: 100px;
}

header
{
    display: flex;
    justify-content: space-between;    
}


/* Navigaton */

nav ul
{
    list-style-type:none;
    display:flex;  
}

nav li
{
    margin-right: 15px;
}

.non_souligné
{
    font-size: 12px;
    text-decoration : None
}

.lien_menu
{
    font-size: 12px;
    text-decoration: None;
}


 /* Section recherche */ 

 .carte1
 {
    border-radius: 8px;
    border:3px solid white;
 }

 #span_recherche
 {
    display: inline;

 }
 #champ_recherche
 {
    height: 30px;
    border: 2px solid #f2f2f2;
    margin-left: -5px;
    margin-top: 10px;
 }
.rechercher
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -5px;
    height: 30px;
}

#filtres
{
    display: flex;
    align-items: baseline;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button
{
    
    border: solid 2px #f2f2f2;
    border-radius: 20px;
    background-color: white;
    height: 30px;
    padding-left: 30px;    
}


 /* Filtres */

.filtres
{
    margin-top: 15px;
    display: flex;
    align-items: baseline;
}

.filtres a 
{
    color: black;
    text-decoration: none;
}

.filtres-boutons 
{
    display: flex;
    flex-wrap: wrap;
}

.btn span 
{
    margin-left: 10px;
    margin: 10px
}

.btn:hover span 
{
    text-decoration: #0065FC;
}

.btn i 
{
    background-color: #DEEBFF;
    border-radius: 20px;
    border: 2px solid #DEEBFF;
    color: #0065FC;
    margin: -2px;
    padding: 7px; 
}

.btn 
{
    padding: 0;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 27px;
    margin-bottom: 9px;
    margin-left: 9px;
    font-size: small;
}

.btn:hover 
{
    background-color: #0065FC;
    color: white;
    border: 2px solid #DEEBFF;
}

.fa-map-marker-alt
{
    padding-top: 3.5px;
    padding-bottom: 6.5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #f2f2f2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    background-color: #f2f2f2;
}


 /* section hébergement*/

.titres
{
    margin-left: 10px;
}
#hebergement
{
    width: 600px;
    display: flex;
    flex-wrap: wrap;        
}

.agencement
{
    background-color: white;
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
    border:3px solid white;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;   
}

.carte_description
{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
}

.fa-star
{
    color: #0065FC;
    font-size: 9px;
    margin-bottom: 6px;
}

#article_aside
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

article
 {
    margin-top: 10px;
    background-color: #f2f2f2;
    border: solid 3px #f2f2f2;
    border-radius: 8px;
    margin-right: 10px;
 }

#populaire
{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.titre_aside
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

aside
{
    background-color:  #f2f2f2;
    border-radius: 8px;
    width: 270px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.agencement_aside
{
    background-color: white;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;    
}

.img_aside
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 4px;
    margin-top: 4px;
}

.img_article
{
    width: 180px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.description
{
    display: flex;
    flex-direction: column; 
}

.étoile
{
    margin-top: 35px;
}


/* Activitées */

#activités
{
    display: flex;
}

.colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
}

.grande_carte
{   
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 3px 3px 5px #f2f2f2;
    padding-bottom: 10px; 
}

.petite_carte
{
    box-shadow: 3px 3px 5px #f2f2f2;
    padding-bottom: 10px; 
    border-radius: 8px; 
}

.grande_photo
{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.petite_photo
{
    width: 200px;
    height: 125px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;   
}


 /* Footer */

 footer
 {
    display:flex;
    justify-content:space-between;
    background-color: #f2f2f2;
    margin-top: 50px;
 }

 ul
 {
     list-style-type: none;
 }


 /* media queries */

 @media screen and (max-width: 1015px)
 {
    body
    {
     width: auto;   
    }
   
   #article_aside
    {
        flex-direction: column-reverse;
    }

    #hebergement
    {
        flex-direction: column;
    }

    aside
    {
        width: 100%;   
    }
    
    #activités
    {
        flex-direction: column;
    }

    .img_article
    {
        width: 100%;
    }

    .grande_photo
    {
        width: 100%;
        height: 125px;
    }

    .petite_photo
    {
        width: 100%;
    }
 }
